@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: white;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(
    to right bottom,
    #06023f,
    #080843,
    #0c0d46,
    #11114a,
    #15154e,
    #14164d,
    #13164c,
    #12174b,
    #0c1545,
    #07123f,
    #030f3a,
    #020a34
  );
}
