.chat-page {
  display: flex;
  flex-wrap: wrap;
  width: 82%;
  max-width: 1200px;
  margin: 5rem auto 0;
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.8rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #055aaa70, #050b41b5);
}

.right-sidebar {
  flex: 1 1 250px;
  min-width: 230px;
  max-width: 350px;
  background: linear-gradient(to right, #021e39be, #0f1442c3);
  border-right: 1px solid #2a2a2a;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}

.search-bar {
  padding: 1rem;
  border-bottom: 1px solid #2a2a2a;
}

.search-bar input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 4px;
  border: none;
  background-color: #2a2a2a;
  color: #fff;
  box-sizing: border-box;
}

.user-list {
  flex: 1;
  overflow-y: auto;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s;
}

.user-item:hover {
  background-color: #673ada;
}

.user-item.active {
  background-color: #7f28db;
}

.user-item img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  margin-right: 0.7rem;
  flex-shrink: 0;
}

.user-item h4 {
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.online-dot {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: #00ff6a;
  border-radius: 50%;
  margin-left: 0.4rem;
}

.msg-container {
  flex: 3 1 500px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background: transparent;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.8rem;
  border-bottom: 1px solid #2a2a2a;
  background: linear-gradient(to right, #021f3adc, #040933d0);
}

.chat-header img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}

.chat-body {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  max-width: 70%;
  padding: 0.7rem 1rem;
  border-radius: 15px;
  word-wrap: break-word;
}

.sent {
  background-color: #6c63ff;
  align-self: flex-end;
}

.received {
  background-color: #0a99af;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  gap: 0.5rem;
  border-top: 1px solid #2a2a2a;
  background: linear-gradient(to right, #021f3adc, #040933d0);
}

.chat-input input {
  flex: 1;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  background: #dcdde32f;
  color: white;
  box-sizing: border-box;
}

.chat-input button {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.chat-input button:hover {
  background-color: #554fcf;
}
