@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  box-sizing: border-box;
  padding: 1rem 2rem;
  min-height: 100vh;
}

.headings {
  margin-top: 1rem;
}

.headings h2 {
  max-width: 600px;
  max-width: 90%;
  text-align: center;
  margin-left: 2rem;
}

.headings p {
  text-align: center;
  font-size: 11px;
  color: gray;
  margin-bottom: 1rem;
}

.outside-card {
  background: radial-gradient(circle at center, #0b063ff0, #020024da 80%);
  padding: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  width: min(110%, 500px);
  box-sizing: border-box;
  border: 1px solid rgb(145, 145, 248);
}

.inside-card {
  background-color: #e7e9ea0c;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
}
.inside-card p {
  margin: 1rem;
  text-align: center;
  width: 100%;
}

img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
}

.login-btn {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dadce0;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.login-btn svg {
  font-size: 22px;
}

.login-btn:hover {
  background-color: #f7f7f7;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(84, 83, 83, 0.968);
}

.terms {
  margin-top: 2rem;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.terms span {
  color: blue;
  cursor: pointer;
}
