.home {
  margin-top: 90px;
  padding: 0 4.5rem;
  width: 82.5%;
  display: flex;
}

.post-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 14px;
  margin-top: 13px;
  gap: 20px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
