.loader-container {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 55px;
  height: 55px;
  border: 5px solid rgba(255, 255, 255, 0.15);
  border-top: 5px solid #7c7cff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
